<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Amazon App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">
            My Amazon
          </a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Signin</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-img" src="./images/frooti.jpeg" alt="frooti" />
                <div class="product-brand">Parle</div>
                <div class="product-name"><a href="#"> Frooti</a></div>
                <div class="price">50</div>
              </div>
              <div class="product">
                <img class="product-img" src="./images/appy_fizz.jpg" alt="frooti" />
                <div class="product-brand">Parle</div>
                <div class="product-name"><a href="#"> Appy</a></div>
                <div class="price">50</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All rights reserved</footer>
    </div>
  </body>
</html>
